.box{
    display: flex;
    flex-direction: row;
}
.column{
    margin-left: 5%;
    width:12%;
    border: 1px solid green;
    background-color: darkorange;
}

textarea{
    height: 5vh;
    width: 100%;
    margin-bottom: 3vh;
}
.card{
    margin-bottom: 3vh;
    border: 1px solid orange;
    background-color: whitesmoke;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 5vh;
}